{% extends "base.html" %} {% block heading %}
<h1 class="p-2 text-center font-bold text-xl text-red-300">Create a Blog Post</h1>
{% endblock %} {% block content %}
<div class="p-8 mx-auto max-w-xl">

  <form
    class="p-4 flex flex-col space-y-2"
    hx-post="{{page_url}}blog"
    hx-target="#response"
  >
  <div class="p-3 font-semibold text-teal-600">Blog Content</div>
  <div>
    <input
      type="text"
      name="author"
      placeholder="Author Name"
      value="{{request.form['author']}}"
      _="on htmx:validation:validate
              if my.value == ''
                  call me.setCustomValidity('Please enter the author name')
              else
                  call me.setCustomValidity('')"
      required
    />
  </div>
  <div>
    <input
      type="text"
      name="title"
      placeholder="Blog Post Title"
      value="{{request.form['title']}}"
      _="on htmx:validation:validate
              if my.value == ''
                  call me.setCustomValidity('Please enter the blog title')
              else
                  call me.setCustomValidity('')"
      required
    />
  </div>
  <div>
    <input
      type="text"
      name="content"
      placeholder="Blog Post Body"
      value="{{request.form['content']}}"
      _="on htmx:validation:validate
              if my.value == ''
                  call me.setCustomValidity('Please enter the blog post content')
              else
                  call me.setCustomValidity('')"
      required
    />
  </div>
  
  <div class="pt-2">
    <button type="submit">Create Post</button>
  </div>
  </form>
</div>
{% endblock content %}
